:root {

--background:#f5f5f5;

--card:white;

--text:#111;

--border:#d5d5d5;

}



.dark {

--background:#111;

--card:#1b1b1b;

--text:white;

--border:#333;

}



* {

box-sizing:border-box;

}



body {

margin:0;

font-family:Arial, Helvetica, sans-serif;

background:var(--background);

color:var(--text);

transition:0.3s;

}



/* NAVBAR */


.navbar {

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

background:var(--card);

border-bottom:2px solid var(--border);

}



.logo {

font-size:24px;

font-weight:bold;

}



nav a {

color:var(--text);

text-decoration:none;

margin:0 12px;

}



button {

cursor:pointer;

border:none;

padding:10px;

border-radius:8px;

}





/* HERO */


.hero {

width:85%;

margin:40px auto;

background:var(--card);

border:2px solid var(--border);

border-radius:15px;

padding:40px;

text-align:center;

}



.hero h1 {

font-size:38px;

}



/* LIST */


.list-container {

width:85%;

margin:auto;

}



.list-container h2 {

font-size:30px;

}



/* LEVEL CARD */


.level-card {

display:flex;

align-items:center;

gap:25px;

background:var(--card);

border:3px solid var(--border);

border-radius:15px;

padding:20px;

margin:20px 0;

transition:0.25s;

}



.level-card:hover {

transform:translateY(-4px);

}



.thumbnail {

width:220px;

height:120px;

object-fit:cover;

border-radius:10px;

border:2px solid var(--border);

}



.rank {

font-size:35px;

font-weight:bold;

}



.difficulty {

font-weight:bold;

}